<h1  *ngIf="contact" [ngStyle]="{ textAlign: 'center' }">Contact({{ contact.id.value }}):</h1>

<div class="card">
  <ng-container *ngIf="contact; else elseTemplate">
    <h2>Name - {{ contact | completedName }}</h2>
    <h3>
      Email - <a href="#">{{ contact.email }}</a>
    </h3>
    <h3>Gender - {{ contact.gender }}</h3>
  </ng-container>

  <ng-template #elseTemplate>
    <p>Sorry, contact not found.</p>
  </ng-template>
  <a routerLink="/dashboard/contacts" [queryParams]="{ gender: prevFilter }">Return</a>
</div>
