
<!-- List your contacts and navegate across them -->
<div>
  <div class="list-card" *ngFor="let contact of randomContactsList; let i = index">
    <div
      routerLink="/contacts/{{ contact.id.name }}"
      [state]="{ data: contact, filter: genderFilter }"
      class="contact-card"
    >
      <h2 class="contact-name">{{ contact.name.first }} {{ contact.name.last }}</h2>
      <button (click)="comeBackHome(contact)">Select</button>
    </div>
  </div>
  <div class="contact-text">
    <ng-container
      *ngIf="
        genderFilter == 'female' || genderFilter == 'male';
        else genderTemplate
      "
    >
      <p>
        Filtered by <strong [ngStyle]="{fontSize:'1.1rem'}">{{ genderFilter }}</strong>
      </p>
    </ng-container>
    <ng-template #genderTemplate>
      <p style="color: black;">Showing all contacts</p>
    </ng-template>

    <a [routerLink]="['/home']" [queryParams]="{gender: genderFilter}">Return</a>
  </div>
</div>
