
<!-- List your contacts and navegate across them -->
<div class="contact-page">
  <div class="contact-list">

    <div  *ngFor="let contact of randomContactsList; let i = index">
      <div
        routerLink="/dashboard/contacts/{{ contact.id.name }}"
        [state]="{ data: contact, filter: genderFilter }"
        class="contact-card"
      >
        <h2 class="contact-name">{{ contact | completedName }}</h2>
        <button mat-raised-button color="primary" (click)="comeBackHome(contact)">Select</button>
      </div>
    </div>
  </div>
  <div class="contact-text">
    <ng-container
      *ngIf="
        genderFilter == 'female' || genderFilter == 'male';
        else genderTemplate
      "
    >
      <p>
        Filtered by <strong [ngStyle]="{fontSize:'1.1rem'}">{{ genderFilter }}</strong>
      </p>
    </ng-container>
    <ng-template #genderTemplate>
      <p>Showing all contacts</p>
    </ng-template>

    <a [routerLink]="['/dashboard']" [queryParams]="{gender: genderFilter}">Return</a>
  </div>
</div>
