
<h1>Welcome!</h1>

<ng-container *ngIf="selectedContact; else templateName">
  <h4>Invisible friend: {{ selectedContact.name }}</h4>
</ng-container>
<ng-template #templateName>
  <div>
    <h4>Who is your invisible friend?</h4>
  </div>
</ng-template>

<!-- Hacer un login -->
<div
  [ngStyle]="{
    display: 'flex',
    gap: '1rem',
    justifyItems: 'center',
    alignItems: 'center'
  }"
>
  <a *ngIf="!token" routerLink="/login">Login</a>

  <button (click)="navigateToContacts()">Check all contacts</button>

  <div [ngStyle]="{ display: 'flex', gap: '1rem' }">
    <a [routerLink]="['/contacts']" [queryParams]="{ gender: 'female' }"
      >Males</a
    >
    <a [routerLink]="['/contacts']" [queryParams]="{ gender: 'male' }"
      >Females</a
    >
  </div>
</div>
