.contact-card {
  width: 300px;
  background-color: rgb(234, 234, 234);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-card img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-card h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: large;
}
